<div class="admin-book-list-page d-flex justify-content-center min-vh-100">
    <div class="w-100">
        <div class="d-flex align-items-center p-3">
            <div class="fw-bold fs-5 p-2">Book List</div>
            <div class="admin-page-function-buttons px-2">
                <button mat-raised-button color="primary" routerLink="/admin/books/add">
                    Add Book</button>
            </div>
        </div>
        <mat-progress-spinner *ngIf="!bookList"></mat-progress-spinner>
        <div class="p-3" *ngIf="bookList">
            <app-book-table *ngIf="bookList" [bookData]="bookList.data"></app-book-table>
            <app-paginator (changePage)="handleChangePage($event)" [numberOfItems]="bookList.total"></app-paginator>
        </div>
    </div>
</div>