<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="book_icon">{{iconName}}</mat-icon>
    <span class="px-1 fw-bold fs-5">{{appName.toUpperCase()}}</span>
    <div class="px-1 nav-links" *ngIf="leftItems">
        <span class="nav-item p-2 rounded" *ngFor="let item of leftItems">
            <app-nav-item [navItem]="item"></app-nav-item>
        </span>
    </div>
    <div class="d-flex ms-auto" *ngIf="rightItems">
        <span class="nav-item p-2 rounded d-flex align-items-center" *ngFor="let item of rightItems">
            <app-nav-item [navItem]="item"></app-nav-item>
        </span>
        <span class="d-flex align-items-center">
            <a *ngIf="changeMode" class="text-decoration-none text-white" [routerLink]="changeMode.link">
                <mat-icon [matTooltip]="changeMode.tooltip">{{changeMode.icon}}</mat-icon>
            </a>
            <p class="m-0">{{user}}</p>
        </span>
    </div>
</mat-toolbar>